{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>.
  </title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>
<style>
    body {
      padding-top: 56px;
    }
</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'base' %}">Jackets Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% if not request.user.is_authenticated %}
            <li class="navbar-nav">
                <a class="nav-link text-light" href="{% url 'login' %}">Авторизация</a>
            </li>
            <li class="navbar-nav">
                <a class="nav-link text-light" href="{% url 'reg' %}">Регистрация</a>
            </li>
            {% endif %}
            <li class="navbar-nav">
                {% if request.user.is_authenticated %}<span class="navbar text text-light">Привет,&nbsp; <span class="badge badge-light" style="background-color: aliceblue; color: black">
                    <a style="text-decoration: none; font-size: 14px; color: black" href="{% url 'profile' %}">{{ request.user.username }}</a></span>&nbsp;<span class="badge badge-light" style="background-color: aliceblue; color: black"><a style="text-decoration: none; font-size: 14px; color: black"  href="{% url 'logout' %}">Выйти</a></span> </span>{% endif %}
            </li>
      <li class="navbar-nav right" style="margin-left: 800px" >
            <a class="nav-link" href="{% url 'cart' %}">Корзина <span class="badge badge-light" style="background-color: aliceblue; color: black">{{ cart.products.count }}</span></a>
          </li>
        </li>
      </div>
    </div>
  </nav>
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row" style="margin-left: 250px">

      <div class="col-lg-9">

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}

        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 mb-4">
            <div class="card h-100 border-0" style="width: 250px">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" style="width: 250px" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}" style="text-decoration: none; color: black">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }} ₴</h5>
                <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                  <button class="btn btn-dark">Добавить в корзину</button>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      {% endblock content %}
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Просто футер</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
