<table class="table">
  <tbody>
    <tr>
      <td>Размер</td>
      <td>{{ product.size }}</td>
    </tr>
      <tr>
      <td>Страна происхождения</td>
      <td>{{ product.country }}</td>
    </tr>
      <tr>
      <td>Материал</td>
      <td>{{ product.material }}</td>
    </tr>
  </tbody>
</table>
