{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <nav aria-label="breadcrumb" class="mt-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
      </ol>
    </nav>
<div class="row">
    <div class="col-md-5">
        <img src="{{ product.image.url }}" class="img-fluid" style="width: 450px">
    </div>
    <div class="col-md-5 mt-5" style="width: 600px">
        <h3>{{ product.title }}</h3>
        <h4>{{ product.price }} ₴</h4>
        <p class="card-text">{{ product.description }}</p>
        <hr>
        <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-dark">Добавить в корзину</button></a>
    </div>
    <div class="mt-4" ><h3>Детальные характеристики:</h3>
            {% include 'notebook_specification.html' %}
        </div>


</div>
    </div>
{% endblock content %}
