{% extends 'base.html' %}

{% block content %}
<div class="row" style="margin-bottom: 50px; margin-top: 50px" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-6 offset-md-3" style="margin-bottom: 50px;">
        <h3 class="text-center">Информация о пользователе</h3>
    <div class="col-md-5 mt-5" style="width: 600px">
        <p class="card-text"><strong>Логин пользователя:</strong> {{ user.username }}</p>
        <p class="card-text"><strong>Имя:</strong> {{ user.first_name }}</p>
        <p class="card-text"><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    </div>
<h3 class="text-center">Заказы пользователя <strong>{{ user.username }}</strong></h3>
    {% if not orders.count %}
    <div class="col-md-12 text-center" style="margin-bottom: 100px; margin-top: 200px">
        <h3>У вас ещё нету заказов. <a href="{% url 'base' %}">Начать покупки</a></h3>
    </div>
    {% else %}
    <div class="col-md-12" style="margin-bottom: 200px; margin-top: 100px">
        <table class="table">
            <thead class="table-dark">
                <tr>
                  <th scope="col">Номер</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Сумма</th>
                  <th scope="col">Дополнительно</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.cart.final_price }} ₴</td>

                    <td>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-{{ order.id }}">
                        Дополнительно
                        </button>
                        <div class="modal fade" id="exampleModal-{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Детали заказа</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                  <table class="table">
                                      <thead class="table-dark">
                                      <tr>
                                         <th scope="col">Наименование</th>
                                          <th scope="col">Изображение</th>
                                          <th scope="col">Цена</th>
                                          <th scope="col">Кол-во</th>
                                          <th scope="col">Общая цена</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for item in order.cart.products.all %}
                                        <tr>
                                            <th scope="row">{{ item.content_object.title }}</th>
                                            <td class="w-25"><img src="{{ item.content_object.image.url }}" style="width: 150px; height: 150px" class="img-fluid"></td>
                                            <td>{{ item.content_object.price }} ₴</td>
                                            <td>{{ item.qty }}</td>
                                            <td><strong>{{ item.final_price }}</strong> ₴</td>
                                        </tr>
                                      {% endfor %}
                                      <tr>
                                          <td colspan="2"></td>
                                          <td>Итого: </td>
                                          <td colspan="1"></td>
                                          <td><strong>{{ order.cart.final_price }}</strong> ₴</td>
                                      </tr>
                                      </tbody>
                                  </table>
                              <hr>
                              <h4 class="text-center">Доп. Информация</h4>
                              <p>Имя: <strong>{{ order.first_name }}</strong></p>
                              <p>Фамилия: <strong>{{ order.last_name }}</strong></p>
                              <p>Телефон: <strong>{{ order.phone }}</strong></p>
                              <p>Комментарий к заказу: <strong>{{ order.comment }}</strong></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>{% endif %}
       </div>
</div>
{% endblock %}