{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row" style="margin-bottom: 50px; margin-top: 50px">
    <div class="col-md-6 offset-md-3">
        <h3>Регистрация</h3>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-secondary" value="Зарегистрироваться">
        </form>
    </div>
</div>

{% endblock %}